.footer {
    background: $primary-color;
    min-height: 80vh;
    max-height: auto;
    display: grid;
    grid-template-rows: 1fr 2fr 1fr;

    @include respond(phone) {
        min-height: 50vh;
    }

    .social {
        display: flex;
        justify-content: space-around;
        align-items: center;

        i {
            cursor: pointer;
            font-size: 4.5rem;
            color: #fff;

            @include respond(phone) {
                font-size: 3.5rem;
            }
        }
    }

    .main {
        padding: 0 1rem;
        display: grid;
        place-items: center;
        grid-template-columns: repeat(3, 1fr);

        @include respond(phone) {
            grid-template-columns: 1fr;
        }

        .contact {

            @include respond(phone) {
                display: grid;
                place-items: center;
                margin: 1rem 0 1rem 0;
            }

            h1 {
                color: #fff;
                font-family: Hind Siliguri;
                font-size: 3rem;
            }

            button {
                margin-top: 1rem;
                cursor: pointer;
                border: none;
                outline: none;
                border-radius: 20px;
                height: 4rem;
                width: 20rem;
                font-size: 2rem;
                font-family: Fredoka One;
                background-color: #fff;

                &:hover {
                    transform: scale(1.1);
                    transition: 0.7s;
                }
            }
        }

        .products {

            @include respond(phone) {
                display: grid;
                place-items: center;
                margin: 1rem 0 1rem 0;
            }

            h1 {
                color: #fff;
                font-family: Hind Siliguri;
                font-size: 3rem;

                @include respond(phone) {
                    margin-bottom: 1rem;
                }
            }

            li {
                cursor: pointer;
                list-style: none;
                color: #fff;
                font-family: Hind Siliguri;
                font-size: 2rem;

                &:hover {
                    color: #ffffffbb;
                }
            }
        }

        .who {

            @include respond(phone) {
                display: grid;
                place-items: center;
                margin: 1rem 0 1rem 0;
            }

            h1 {
                color: #fff;
                font-family: Hind Siliguri;
                font-size: 3rem;

                @include respond(phone) {
                    margin-bottom: 1rem;
                }
            }

            li {
                cursor: pointer;
                list-style: none;
                color: #fff;
                font-family: Hind Siliguri;
                font-size: 2rem;

                &:hover {
                    color: #ffffffbb;
                }
            }
        }
    }

    .end {
        display: grid;
        place-items: center;

        h1 {
            color: #fff;
            font-size: 3rem;
            font-family: Hind Siliguri;

            @include respond(phone) {
                font-size: 2rem;
            }
        }
    }
}