// 🚗

.invest {
    min-height: 100vh;
    max-height: auto;
    background-color: $primary-color;

    .one {
        min-height: 100vh;
        max-height: auto;
        display: grid;
        grid-template-columns: repeat(2, 1fr);

        @include respond(phone) {
            grid-template-columns: 1fr;
        }

        .divOne {
            display: grid;
            place-items: center;

            .intro {
                width: 90%;
                height: 80%;

                @include respond(phone) {
                    display: grid;
                }

                h1 {
                    font-family: Hind Siliguri;
                    font-size: 4.5rem;
                    color: #fff;

                    @include respond(phone) {
                        font-size: 3rem;
                    }
                }
    
                h2 {
                    font-family: Hind Siliguri;
                    font-size: 3rem;
                    color: #fff;

                    @include respond(phone) {
                        font-size: 2rem;
                    }
                }

                ul {
                    margin-top: 1rem;
                
                    .list {
                        display: flex;

                        i {
                            margin-top: 1rem;
                            font-size: 2rem;
                            color: #fff;
                            margin-right: 1rem;

                            @include respond(tab-port) {
                                margin-top: 0;
                            }
                        }

                        li {
                            margin-top: 1rem;
                            color: #fff;
                            list-style: none;
                            font-size: 2rem;
                            font-family: Hind Siliguri;

                            @include respond(tab-port) {
                                margin-top: 0;
                            }
                        }
                    }
                }

                button {
                    background-color: #fff;
                    margin-top: 1rem;
                    cursor: pointer;
                    height: 5rem;
                    width: 20rem;
                    border: none;
                    border-radius: 50px;
                    font-size: 2rem;
                    font-family: Fredoka One;

                    @include respond(phone) {
                        justify-self: center;
                        height: 4rem;
                        width: 16rem;
                    }

                    &:hover {
                        transform: scale(1.1);
                        transition: 0.7s;
                    }
                }
            }
        }

        .divTwo {
            margin-top: 5rem;
            display: grid;
            place-items: center;

            .phone-img {
                height: 50rem;
                
                @include respond(phone) {
                    height: 35rem;
                }
            }
        }
    }

    .two {
        padding: 0.5rem;
        background-color: #fff;
        min-height: 100vh;
        max-height: auto;

        h1 {
            display: grid;
            place-items: center;
            color: $primary-font;
            font-family: Hind Siliguri;
            font-size: 4rem;
        }
    }
}