
.invest {
    min-height: 100vh;
    max-height: auto;
    background-color: $primary-color;

    .one {
        min-height: 100vh;
        max-height: auto;
        display: grid;
        grid-template-columns: repeat(2, 1fr);

        @include respond(phone) {
            grid-template-columns: 1fr;
        }

        .divOne {
            display: grid;
            place-items: center;

            .intro {
                width: 90%;
                height: 80%;

                @include respond(phone) {
                    display: grid;
                }

                h1 {
                    font-family: Hind Siliguri;
                    font-size: 4.5rem;
                    color: #fff;

                    @include respond(phone) {
                        font-size: 3rem;
                    }
                }
    
                h2 {
                    font-family: Hind Siliguri;
                    font-size: 3rem;
                    color: #fff;

                    @include respond(phone) {
                        font-size: 2rem;
                    }
                }

                ul {
                    margin-top: 1rem;
                
                    .list {
                        display: flex;

                        i {
                            margin-top: 1rem;
                            font-size: 2rem;
                            color: #fff;
                            margin-right: 1rem;

                            @include respond(tab-port) {
                                margin-top: 0;
                            }
                        }

                        li {
                            margin-top: 1rem;
                            color: #fff;
                            list-style: none;
                            font-size: 2rem;
                            font-family: Hind Siliguri;

                            @include respond(tab-port) {
                                margin-top: 0;
                            }
                        }
                    }
                }

                button {
                    background-color: #fff;
                    margin-top: 1rem;
                    cursor: pointer;
                    height: 5rem;
                    width: 20rem;
                    border: none;
                    border-radius: 50px;
                    font-size: 2rem;
                    font-family: Fredoka One;

                    @include respond(phone) {
                        justify-self: center;
                        height: 4rem;
                        width: 16rem;
                    }

                    &:hover {
                        transform: scale(1.1);
                        transition: 0.7s;
                    }
                }
            }
        }

        .divTwo {
            display: grid;
            place-items: center;

            .phone-img {
                margin: 3rem 4rem 0 0;
                height: 50rem;
                
                @include respond(phone) {
                    height: 35rem;
                }
            }
        }
    }

    .two {
        padding: 0.5rem;
        background-color: #fff;
        min-height: 100vh;
        max-height: auto;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 3fr;

        h1 {
            display: grid;
            place-items: center;
            color: $primary-font;
            font-family: Hind Siliguri;
            font-size: 4rem;

            @include respond(phone) {
                font-size: 2.5rem;
            }
        }


        .features {
            min-height: 70%;
            max-height: auto;

            .box {
                min-height: 10rem;
                max-height: auto;
                cursor: pointer;
                display: grid;
                grid-template-columns: 2fr 1fr;
                margin: 2rem 0;

                &:hover {
                    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
                }

                .item {
                    display: flex;
                    width: auto;
                    align-items: center;
                    justify-content: center;

                    i {
                        font-size: 3rem;
                        color: $primary-font;
                        margin: 0 1rem;

                        @include respond(phone) {
                            font-size: 2rem;
                            margin: 0 2rem;
                        }
                    }
    
                    h2 {
                        font-family: Hind Siliguri;
                        font-size: 3rem;
                        color: $primary-font;

                        @include respond(phone) {
                            font-size: 2rem;
                            margin: 0 1rem;
                        }
                    }
                }

                .arrow {
                    width: auto;
                    display: grid;
                    justify-content: center;
                    align-items: center;

                    i {
                        cursor: pointer;
                        font-size: 3rem;
                        color: $primary-font;

                        @include respond(phone) {
                            font-size: 2rem;
                        }

                        &:hover {
                            color: $primary-color;
                            transform: scale(1.1);
                            transition: 0.7s;
                        }
                    }
                }

                .text {
                    margin: 1rem 0;
                    display: none;
                    justify-content: flex-end;
                    flex-direction: row;
                    width: 100%;

                    .text-box {
                        width: 65%;

                        p {
                            color: $primary-font;
                            font-family: Hind Siliguri;
                            font-size: 1.7rem;
                            line-height: 3rem;
                        }
                    }
                }
            }
        }
    }
}